{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Seu comentário foi visto') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('Olá! 👋') }}
  {{ macros.sentence('A equipa do Resurgentes marcou como vista uma contribuição sua no pacto inter-cidades.') }}
  {{ macros.commentBox(user.name, user.country.emoji, comment.text, comment.createdAt) }}
  {{ macros.sentence('Clique aqui para ver! ') }}
  {{ macros.button(url, 'Aceder ao pacto') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}
