{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Sua contribuição foi marcada como visualizada') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('Olá! 👋') }}
  {{ macros.sentence('A equipe do Ressurgentes destacou o seu comentário sobre o Pacto Intermunicipal ⭐') }}
  {{ macros.commentBox(user.name, user.country.emoji, comment.text, comment.createdAt) }}
  {{ macros.sentence('Clique aqui para vê-lo!') }}
  {{ macros.button(url, 'Acesse o pacto') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}

