{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Nova resposta ao seu comentário') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('Olá! 👋') }}
  {{ macros.sentence('Um utilizador respondeu ao seu comentário no pacto inter-cidades.') }}
  {{ macros.commentAndReplyBox(user.name, user.country.emoji, comment.text, comment.createdAt, reply.user.name, reply.user.country.emoji, reply.text, reply.createdAt) }}
  {{ macros.sentence('Clique aqui para o ver') }}
  {{ macros.button(url, 'Acesso ao pacto') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}
