{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Nova versão do pacto intercidades') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('Olá! 👋') }}
  {{ macros.sentence('Queremos dizer-vos que gerámos uma nova versão do pacto entre cidades. ') }}
  {{ macros.authorNotesBox(user.name, user.country.emoji, project.authorNotes, project.version, project.updatedAt) }}
  {{ macros.sentence('Clica aqui para veres o que há de novo! ') }}
  {{ macros.button(url, 'Acesso ao pacto') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}
