{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Recupere sua senha para acessar sua conta') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('Olá! 👋') }}
  {{ macros.sentence('Recebemos um pedido para recuperar a palavra-passe da sua conta.') }}
  {{ macros.sentence('Clique aqui para gerar uma nova:') }}
  {{ macros.button(url, 'Recuperar Senha') }}
  {{ macros.sentence('Caso não tenha solicitado esta recuperação, pode ignorar este e-mail.') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}