{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
	{{ macros.preheader('Valide sua conta para concluir seu registro') }}
{% endblock %}

{% block main %}
	{{ macros.sentence('Olá! 👋') }}
	{{ macros.sentence('Se recebeu este e-mail, registou-se na nossa plataforma para fazer parte do pacto inter-cidades.') }}
	{{ macros.sentence('Para concluir o registo, clique aqui para confirmar a sua conta.') }}
	{{ macros.button(url, 'Confirmar a sua conta') }}
	{{ macros.sentence('Se não se registou, por favor ignore este email.') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}
