{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
    {{ macros.preheader('Confirme sua conta de e-mail para participar') }}
{% endblock %}

{% block main %}
    {{ macros.sentence('Olá! 👋') }}
    {{ macros.sentence('Se recebeu esta mensagem, o endereço de e-mail da sua conta Resurgentes foi alterado.') }}
    {{ macros.sentence('Para iniciar sessão novamente, precisa de confirmar o seu endereço de e-mail.') }}
    {{ macros.sentence_black('Clique aqui para confirmar a sua conta.') }}
    {{ macros.button(url, 'Confirmar conta') }}
    {{ macros.sentence_italic('Se pensa que recebeu este e-mail por engano, ignore esta mensagem.') }}
    {{ macros.sentence('Se tiver alguma dúvida sobre as suas credenciais de utilizador, não hesite em contactar-nos.') }}
	{{ macros.sentence('Equipa Resurgentes') }}
{% endblock %}