{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Tu comentario ha sido visto') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('¡Hola! 👋') }}
  {{ macros.sentence('El equipo de Resurgentes ha marcado como visto un aporte suyo en el pacto interciudad.') }}
  {{ macros.commentBox(user.name, user.country.emoji, comment.text, comment.createdAt) }}
  {{ macros.sentence('¡Haz click aquí para verlo! ') }}
  {{ macros.button(url, 'Acceder al pacto') }}
	{{ macros.sentence('Equipo de Resurgentes') }}
{% endblock %}

