{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Nueva respuesta a su comentario') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('¡Hola! 👋') }}
  {{ macros.sentence('Un usuario ha respondido a tu comentario en el pacto interciudad.') }}
  {{ macros.commentAndReplyBox(user.name, user.country.emoji, comment.text, comment.createdAt, reply.user.name, reply.user.country.emoji, reply.text, reply.createdAt) }}
  {{ macros.sentence('Haz click aquí para verlo') }}
  {{ macros.button(url, 'Acceder al pacto') }}
	{{ macros.sentence('Equipo de Resurgentes') }}
{% endblock %}

