{% extends "base.njk" %}

{% import "macros.njk" as macros %}

{% block preheader %}
  {{ macros.preheader('Nueva versión del pacto interciudad') }}
{% endblock %}

{% block main %}
  {{ macros.sentence('¡Hola! 👋') }}
  {{ macros.sentence('Queremos contarte que hemos generado una nueva versión del pacto interciudad.') }}
  {{ macros.authorNotesBox(user.name, user.country.emoji, project.authorNotes, project.version, project.updatedAt) }}
  {{ macros.sentence('¡Haz click aquí para ver las novedades!') }}
  {{ macros.button(url, 'Acceder al pacto') }}
	{{ macros.sentence('Equipo de Resurgentes') }}
{% endblock %}

