{% extends 'base.njk' %}
{% import "macros.njk" as macros %}

{% block content %}
    {{ macros.sentence('Hola!') }}
    {{ macros.sentence('Este es un email de prueba de signup')}}
    {{ macros.button('https://google.com', 'Ir a Google') }}
    {{ macros.sentence('Gracias!') }}
{% endblock %}
```